/** Import Bootstrap functions */
@import "bootstrap/scss/functions";

/** Import theme variables */
@import "common/variables";

/** Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/** Import highlight.js */
// @import "highlight.js/scss/github-dark-dimmed";

/** Import KaTeX */
@import "katex/dist/katex";

/** Import theme styles */
/** Add ./assets/scss/whatever to front of modified scss files to get them to propagate**/

// customized styling files
@import "./assets/scss/common/fonts";
@import "./assets/scss/common/dark";
@import "./assets/scss/common/global";
@import "./assets/scss/common/variables";

@import "./assets/scss/components/alerts";
@import "./assets/scss/components/images";

// default styling of parent project
@import "components/buttons";
@import "components/code";
@import "components/syntax";
@import "components/comments";
@import "components/forms";
@import "components/mermaid";
@import "components/search";
@import "components/tables";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/sidebar";

